<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<h1 >form</h1>

<form>
    <div>
        <label>Name</label>
        <input th:field="${user.name}"/>
    </div>

    <label>E-mail</label>
    <input type="email" th:field="${user.email}"/>

    <div>
        <label>Password</label>
        <input type="password" th:field="${user.password}"/>
    </div>

    <div>
        <label>Confirm password</label>
        <input type="password" th:field="${user.matchingPassword}"/>
    </div>

    <button type="submit">Submit!</button>

</form>

</body>
</html>