body {
    margin: 60px auto;
    width: 70%;
    background-color: #292929;
    color: #CECECE;
}

nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    padding: 5px 10px;
    background: black;
    border: 4px inset white;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #7FD7FF;
}

a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h1 form {
    display: inline;
    margin: 10px;
}

p {
    font-size: 1.2em;
    color: #CECECE;
}

p.footer {
    font-size: .8em;
}

ul {
    margin: 20px auto 40px;
    font-size: 1em;
}

input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

#sendMessage {
    cursor: pointer;
    width: 10%;
}

#newConversation {
    cursor: pointer;
    width: 10%;
}

.conversationList div {
    font-size: 1.5em;
    margin: 10px 0px;
    width: 40%;
    padding: 5px 10px;
    background: black;
    border: 4px inset white;
    border-radius: 10px;
    list-style: none;
    text-align: center;
}

label {
    display: block;
}

div.post {
    background-color: #007399;
    padding: 10px;
    border-radius: 10px;
    width: 55%;
    margin: 10px;
    border: 4px inset white;
}

div.head {
    font-size: .8em;
    border-bottom: 2px gray solid;
}