<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NavBar</title>
</head>
<body>

<nav class="navigation" th:fragment="navigation" th:switch="${#authentication.getPrincipal()}">

    <ul th:case="'anonymousUser'">

        <li id="button-home"><a href="/home.html" th:href="@{/}">Home</a></li>
        <li id="button-registration"><a href="/user/registration.html" th:href="@{user/registration}">Registration</a></li>
        <li id="button-login"><a href="/login.html" th:href="@{/login}">Login</a></li>
    </ul>

    <ul th:case="*">
        <li id="button-home"><a href="/home.html" th:href="@{/}">Home</a></li>
        <li id="button-conversations"><a href="/conversations.html" th:href="@{/conversations/}">Conversations</a></li>
        <li id="button-logout"><a href="/logout">Logout</a></li>
    </ul>

</nav>


</body>
</html>