<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Gadator</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav th:insert="~{header :: navigation}"/>

    <h1 th:text="#{home.header}">Welcome!</h1>

    <p th:text="#{home.welcome}">Welcome to Gadator, simple messenger project.</p>

    <div th:switch="${#authentication.getPrincipal()}">
        <p th:case="'anonymousUser'">
            Welcome anonymous! Please,
            <a href="user/registration.html" th:href="@{user/registration}">register</a>
            or
            <a href="login.html" th:href="@{/login}">log in!</a>
        </p>
        <p th:case="*" th:text="'You are logged in as ' +
        ${#authentication.getPrincipal().getUsername()}"></p>
    </div>

    <p th:text="#{home.today(${today})}">Today is:</p>

</body>
</html>