<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav th:insert="~{header :: navigation}"/>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div>
        <label for="name-login">User Name :</label>
        <input id="name-login" type="text" name="username"/>
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input id="password-login" type="password" name="password"/>
    </div>
    <div>
        <input id="submit-login" type="submit" value="Sign In"/>
    </div>
</form>

<div th:insert="~{footer :: footer}"/>

</body>
</html>